<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.baas.party.dao.PartyIdentificationMapper">  <!--这个和我们的dao接口类的名称相同 -->
	<resultMap id="BaseResultMap" type="com.asiainfo.baas.party.bean.PartyIdentification">
		<result column="partyIdentityId" property="party_identity_id" jdbcType="VARCHAR" />
		<result column="identityCode" property="identity_code" jdbcType="VARCHAR" />
		<result column="partyId" property="party_id" jdbcType="VARCHAR" />
		<result column="createDate" property="create_date" jdbcType="DATE" />
		<result column="modityDate" property="modify_date" jdbcType="DATE" />
		<result column="certEffdate" property="cert_effdate" jdbcType="DATE" />
		<result column="certExpireDate" property="cert_expireDate" jdbcType="DATE" />
	</resultMap>

	<select id="getPartyIdentificationByPartyId" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
			party_identity_id,identity_code,party_id,create_date,modify_date,cert_effdate,cert_expireDate
		FROM
			party_identification
		WHERE
			party_id = #{partyId}
	</select>
	
	<insert id="createPartyIdentification" parameterType="com.asiainfo.baas.party.bean.PartyIdentification">
		insert into
			party_identification
		values
			(#{partyIdentityId},#{identityCode},#{partyId},#{createDate},#{modityDate},#{certEffdate},#{certExpireDate})
	</insert>
	
	<update id="updatePartyIdentification" parameterType="com.asiainfo.baas.party.bean.PartyIdentification">
		update
		
			party_identification
			
		 set 
		 	identity_code = #{identityCode},
		 	
		 	party_id = #{partyId},
		 	
		 	modify_date = #{modityDate},
		 	
		 	cert_effdate = #{certEffdate},
		 	
		 	cert_expireDate = #{certExpireDate}
		 	
		where
			party_identity_id = #{partyIdentityId}
	</update>

</mapper> 