<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.baas.party.dao.PartyRoleContAssocMapper">  <!--这个和我们的dao接口类的名称相同 -->
	<resultMap id="BaseResultMap" type="com.asiainfo.baas.party.bean.PartyRoleContAssoc">
		<result column="party_role_cont_id" property="partyRoleContId" jdbcType="VARCHAR" />
		<result column="party_role_id" property="partyRoleId" jdbcType="VARCHAR" /> 
		<result column="contant_medium_id" property="contantMediumId" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
	</resultMap>

	<delete id="deletePartyRoleContAssocById" parameterType="java.lang.String">
		delete
		from
		party_role_cont_assoc
		where party_role_cont_id=#{partyRoleContId}
	</delete>
	<insert id="createPartyRoleContAssoc" parameterType="com.asiainfo.baas.party.bean.PartyRoleContAssoc">
		insert into
		party_role_cont_assoc
		values
		(#{partyRoleContId},#{partyRoleId},#{contantMediumId},#{status})
	</insert>

	<select id="getPartyRoleContAssocByPartyRoleId" parameterType="java.lang.String"
		resultMap="java.util.List">
		select
			party_role_cont_id,
			party_role_id,
			contant_medium_id,
			status
		from
			party_role_cont_assoc
		where
			party_role_id=#{partyRoleId}
	</select>
</mapper>