<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.baas.party.dao.PartyRoleMapper">  <!--这个和我们的dao接口类的名称相同 -->
	<resultMap id="BaseResultMap" type="com.asiainfo.baas.party.bean.PartyRole">
		<result column="party_role_id" property="partyRoleId" jdbcType="VARCHAR" />
		<result column="party_id" property="partyId" jdbcType="VARCHAR" /> 
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="modify_date" property="modifyDate" jdbcType="DATE" />
		<result column="roleSpec_id" property="roleSpecId" jdbcType="VARCHAR" />
	</resultMap>

	<delete id="deletePartyRoleByPartyRoleId" parameterType="java.lang.String">
		delete
		from
			party_role
		where party_role_id=#{partyRoleId}
	</delete>
	<insert id="addPartyRole" parameterType="com.asiainfo.baas.party.bean.PartyRole">
		insert into
			party_role
		values
			(#{partyRoleId},#{status},#{createDate},#{modifyDate},#{partyId},#{roleSpecId})
	</insert>

	<select id="getPartyRolesByPartyId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
			party_id,
			party_role_id,
			status,
			create_date,
			modify_date
		from
			party_role
		where party_id=#{partyId}
	</select>
	<update id="updatePartyRole" parameterType="com.asiainfo.baas.party.bean.PartyRole">
		update
			party_role
		set
			party_id=#{partyId},
			status=#{status},
			modify_date=#{modifyDate},
			roleSpec_id=#{roleSpecId}
		where party_role_id=#{partyRoleId}
	</update>
</mapper>