<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.baas.party.dao.PartyNameMapper">  <!--这个和我们的dao接口类的名称相同-->
<resultMap id="BaseResultMap" type="com.asiainfo.baas.party.bean.PartyName" >
    <result column="party_id" property="partyId" jdbcType="VARCHAR" />
    <result column="language_type" property="languageType" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="modify_date" property="modifyDate" jdbcType="DATE" />
    <result column="party_name_id" property="partyNameId" jdbcType="VARCHAR" />
     <result column="name" property="name" jdbcType="VARCHAR" />
     <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  
   <delete id="deletePartyNameByPartyNameId" parameterType="java.lang.String" >
    delete 
    from 
   		party_name
   	where party_name_id=#{partyNameId}
  </delete>
  <insert id="addPartyName" parameterType="com.asiainfo.baas.party.bean.PartyName" >
  	insert into 
  		party_name
  	values
  		(#{partyNameId},#{name},#{languageType},#{createDate},#{modifyDate},#{status},#{partyId})
  </insert>
  
  <select id="getPartyNamesByPartyId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  		party_id,
  		party_name_id,
  		language_type,
  		create_date,
  		modify_date,
  		name
  	from 
  		party_name
  	where party_id=#{partyId}
  </select> 
  <update id="updatePartyName" parameterType="com.asiainfo.baas.party.bean.PartyName" >
  	update
  		party_name
  	set 
	  	party_id=#{partyId},
	  	language_type=#{languageType},
	  	modify_date=#{modifyDate},
	  	name=#{name}
  	where party_name_id=#{partyNameId}
  </update>
</mapper>