<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asiainfo.baas.party.dao.PartyMapper">  <!--这个和我们的dao接口类的名称相同-->
<resultMap id="BaseResultMap1" type="com.asiainfo.baas.party.bean.Party">
   <result column="party_id" property="partyId" jdbcType="VARCHAR" />
   <result column="login_name" property="loginName" jdbcType="VARCHAR" />
   <result column="password" property="password" jdbcType="VARCHAR" />
   <result column="create_date" property="createDate" jdbcType="DATE" />
   <result column="modify_date" property="modifyDate" jdbcType="DATE" />
   <result column="status" property="status" jdbcType="VARCHAR" />
   <result column="party_type" property="partyType" jdbcType="VARCHAR" />
</resultMap>
  
   <select id="getPartyList" parameterType="java.lang.String" resultMap="BaseResultMap1">
    SELECT 
    	party_id,login_name,password,create_date,modify_date,status,party_type
   FROM 
   		party
   	where status=1
  </select>
  <insert id="addParty" parameterType="com.asiainfo.baas.party.bean.Party" >
  	insert into 
  		party
  	values
  		(#{partyId},#{loginName},#{password},#{createDate},#{modifyDate},#{status},#{partyType})
  </insert>
  
  <select id="getPartyById" parameterType="java.lang.String" resultMap="BaseResultMap1">
  	select 
  		party_id,login_name,password,create_date,modify_date,status,party_type 
  	from 
  		party
  	where party_id=#{partyId}
  </select> 
  
  <select id="getPartyByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap1">
  	select 
  		party_id,login_name,password,create_date,modify_date,status,party_type 
  	from 
  		party
  	where login_name=#{loginName}
  </select> 
  
  <update id="updateParty" parameterType="com.asiainfo.baas.party.bean.Party">
  
  	update 
  	
  		party 
  	set 
		login_name =#{loginName},
		
		password = #{password},
		
		modify_date = #{modifyDate},
		
		status = #{status},
		
		party_type = #{partyType}
		
	where 
		party_id=#{partyId}
  </update>
  
   <update id="delParty" parameterType="java.lang.String">
	   update 
	  	
	  		party 
	  	set 
			 status=2
			
		where 
			party_id=#{partyId}
   </update>

</mapper>